* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway;
}

html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Raleway', sans-serif;
}

.hero {
    background-image: linear-gradient(120deg, rgba(241, 147, 251, 0.692) 0%, rgba(245, 87, 108, 0.699) 100%), url("img/header.jpg");
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.textos-hero {
    height: 500px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.textos-hero h1 {
    font-size: 60px;
}

.textos-hero p {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bolder;
}

.textos-hero a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #a18cda;
    padding: 15px;
    border: 1px solid #a18cda;
    border-radius: 25px;
    font-weight: bolder;
    transform: scale(1);
    transition: transform 0.6s;
}

.textos-hero a:hover {
    transform: scale(1.06);
    cursor: pointer;
}

.svg-hero {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* estilos generales */

.contenedor,
.wave-contenedor {
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
}

.contenedor {
    padding: 80px 0;
}

.titulo {
    font-weight: 300;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.titulo.left {
    text-align: left;
    font-weight: bold;
}

.titulo.rigth {
    text-align: right;
}

/*Section*/

.website {
    display: flex;
    justify-content: space-between;
}

.website img {
    width: 48%;
}

.website .contenedor-textos-main {
    width: 40%;
}

.parrafo {
    text-align: justify;
    margin-bottom: 20px;
}

.cta {
    display: inline-block;
    padding: 12px 15px;
    text-decoration: none;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%) ;
    border-radius: 11px;
    color: #fff;
    transform: scale(1);
    transition: transform 0.6s;
}

.cta:hover{
    transform: scale(1.03);
    cursor: pointer;
}


/* Info */

.info {
    background: #f7556c;
    color: #fff;
}

/* Cards */

.content-cards {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.content-cards p {
    margin: 5px 5.5px 25px 5.5px;
    font-size: 18px;
    
}

.card {
    width: 30%;
    text-align: center;
    height: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
}

.card:hover {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}

.card i {
    margin: 30px 0 20px 0;
    color: #cc9199;
    font-size: 40px;
}

h3 {
    margin: 3px 0 10px 0;
    font-size: 25px;
}

/*Galeria*/

.galeria {
    background: #f2f2f2;
}

.galeria-cont {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}

.galeria-cont>img {
    width: 30%;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    cursor: pointer;
    overflow: hidden;
    transform: scale(1);
    transition: transform 0.6s;
}

.galeria-cont>img:hover {
    transform: scale(1.04);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

/*info2*/

.last-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
}

.last-section img {
    width: 48%;
}

.last-section .contenedor-textos-main {
    width: 40%;
}

/*footer*/

footer {
    background: #f5576c;
    color:#fff;
    font-weight: bolder;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form input, textarea {
    background: transparent;
    border: none;
    border: 1px solid #fff;
    color: #fff;
    outline: none;
    padding: 20px 10px;
    
}

.input::placeholder{
    color: #fff;
    font-family: Raleway;
    font-weight: bolder;
}

.input[type="text"],
.input[type="email"]{
    display: inline-block;
    width: 49.6%;
    margin-bottom: 25px;
}

.form textarea {
    width: 100%;
    margin-bottom: 15px ;
}

input[type="submit"]{
    width: 120px;
    text-align: center;
    padding: 14px 0;
    transition: 0.6s;
    font-weight: bolder;
}

input[type="submit"]:hover{
    cursor: pointer;
    background: #fff;
    color: tomato;
}

@media screen and (max-width:800px){
    /*Estilos Generales*/
    .textos-hero h1 {
        text-align: center;
        font-size: 50px;
    }

    .titulo {
        font-size: 35px;
    }

    .titulo.left {
        text-align: center;
    }

    .info p {
        text-align: center;
    }
}

/*Section*/

.website {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.website img {
    width: 100%;
}

.website .contenedor-textos-main {
    width: 100%;
}

/* Cards */

.card {
    width: 90%;
    margin-bottom: 20px;
}

/*Galeria*/

.galeria-cont>img {
    width: 48%;
}

/*Last*/

.last-section img {
    width: 98%;
    margin-top: 40px;
}

.last-section .contenedor-textos-main {
    width: 98%;
}